script(id="app-list-tmpl", type="text/html")
  tr
    th name
    th port
    th app-status
    th action

script(id="app-tmpl", type="text/html")
  td.name {{name}}
  td.port {{port}}
  td.status {{running}}
  td.actions
    a.start(href="/app") start
    a.stop(href="/app") stop
    a.applogs(href="/applogs/{{name}}") logs
    a.app_info(href="/app/{{name}}") info


// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")

