script(id="app-body-tmpl", type="text/html")
	<td class="name">{{name}}</td>
	<td class="port">{{port}}</td>
	<td class="status">{{running}}</td>
	<td class="actions">{{actions}}</td>

script(id="app-header-tmpl", type="text/html")
	<th>name</th>
	<th>port</th>
	<th>app-status</th>
	<th>action</th>

// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")
// script(id="app-body-tmpl", type="text/html")

