!!! 5
html
	head
		title= title
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
		link(rel='icon', href='/static/i/favicon.ico')
		link(rel='shortcut icon', href='/static/i/favicon.ico')
		link(rel='stylesheet', href='/static/stylesheets/bootstrap.css') 
		link(rel='stylesheet', href='/static/stylesheets/style.css') 
		// if lt IE 9
			script(src='/static/js/lib/html5.js')
	body
			header
				h1 Nodester Admin Panel
			.main
				- if(is_logged)
					!= partial("nav")
					p.log_info
						| Howdy, <strong>#{user}</strong>!&nbsp;&nbsp;
						a(href="/logout") Logout
				#content_wrapper
					.message-container.alert 
					#loader
					.content
						!= body
					.cl
				footer
					p <strong>NOTE</strong> <br />
						| This project is work in progress. <br />
						| Kindly file issues/pull requests at
						a(href='http://github.com/nodester/admin-panel', target="_blank") http://github.com/nodester/admin-panel
					p Special thanks to the creators of 
						a(target="_blank", href='http://nodester.com') Nodester.com
						|	 for this brilliant platform :)

					p - by 
						| <a href="http://twitter.com/michealbenedict" target="_blank">@michealbenedict</a>, 
						| <a href="http://twitter.com/crp_underground" target="_blank">@crp_underground</a>, 
						| <a href="http://twitter.com/kev_nz" target="_blank">@kev_nz</a> and 
						| <a href="http://twitter.com/akavlie" target="_blank">@akavlie</a> 
						| for <a href="http://twitter.com/nodester" target="_blank">@nodester</a>
				#modal.modal(style="display:none;")

	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
	script(src="/static/javascripts/lib/bootstrap.min.js")
	script(src="/static/javascripts/lib/underscore-min.js")
	script(src="/static/javascripts/lib/backbone-min.js")
	script(src="/static/javascripts/lib/mustache.min.js")
	script(src="/static/javascripts/main.js")
	// script(src="/static/javascripts/n.js")
	script
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-23005703-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	include frontend-templates
