!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Nodester Admin Panel
    - if(is_logged)
      p.log_info
        | Howdy <strong>#{user}</strong> ! 
        a(href="/logout") Logout
  
    #content_wrapper
      - if(is_logged)
        .sidebar.fl
          != partial("sidebar")
      .content.fl
        != body
      .cl
  
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
  script(src="/javascripts/mu.js")
  script(src="/javascripts/n.js")