!!!
html
  head
    title= title
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    link(rel='shortcut icon', href='/static/i/favicon.ico', type='image/vnd.microsoft.icon')
    link(rel='icon', href='/static/i/favicon.gif', type='image/gif')
    link(rel='shortcut icon', href='/static/i/favicon.png', type='image/png')
    
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23005703-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    h1 Nodester Admin Panel
    - if(is_logged)
      p.log_info
        | Howdy <strong>#{user}</strong> ! 
        a(href="/logout") Logout
  
    #content_wrapper
      - if(is_logged)
        .sidebar.fl
          != partial("sidebar")
      .content.fl
        != body
      .cl
    footer
      p Nodester admin panel is <strong>NOT</strong> an official supported by <a target="_blank" href='http://nodester.com'>Nodester.com</a> (atleast for now)
      p Thanks to the creators of <a target="_blank" href='http://nodester.com'>Nodester.com</a> for this brilliant Platform :)
      p This app was created by <a href="http://twitter.com/michealbenedict" target="_blank">@michealbenedict</a>
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
  script(src="/static/javascripts/mu.js")
  script(src="/static/javascripts/n.js")