.login_wrap
  form(method="post",action="/login")
    fieldset
      p
          input(type="text", name="user[user]", placeholder="Login here...", class="input r5 " + ((action) ? "error" : ""))
      p
          input(type="password", name="user[pass]", placeholder="and your password.", class="input r5 " + ((action) ? "error" : ""))
      p.buttons
          input.submit.r5.bluegrad(type="submit", value="Login")
   -if(action == "failed")
       p#failed.msg.r5.hide Authorization Failed ! Do you have an account ?
   -else if(action == "incomplete")
       p#incomplete.msg.r5.hide Either username or password was blank.
script
  $(function(){
     $('#failed').fadeIn();
     $('#incomplete').fadeIn();
     $('input[type="text"]').focus();
  });