ul.nav.nav-tabs
  li.active
    a#my_apps(href="/apps", rel="main") My Apps
    ul.snav
      li
        a.app_create(href="/app/create", rel="modal") Create New App
  li
    a(href="/domains", rel="main") My Domains