ul.lnav
  li.first
    a(href="/apps",rel="main",id="my_apps") My Apps
    ul.snav
      li
        a(href="/app/create",rel="modal",class="app_create") Create New App
  li
    a(href="/domains",rel="main") My Domains