/* Resets
------ */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#4b4b4b;
}

h1,h2,h3 {
  line-height:1.2em;
}

ul,ol {
  padding-left:2em;
}

p {
  line-height:1.2em;
  padding:0.5em 0;
}

*:focus {outline: none;}

a {
  color: #1d64a0;
}

.fr {
	float:right;
}

.fl {
	float:left;
}

.oh {
	overflow:hidden;
}

.cl {
	clear:both;
}

#content_wrapper {
  padding-top:1.4em;
  min-height:250px;
}

.sidebar {
	width:200px;
}

ul.lnav {
  padding:0;
  list-style:none;
  width:150px;
  font-size:12px;
}

ul.lnav li.first {
  margin:0;
}

ul.lnav li {
  margin-top:2px;
}

ul.lnav li a {
  display:block;
  background:#ddd;
  padding:0.5em 1em;
  color:#555;
  text-decoration:none;
}

ul.lnav li a:hover,
ul.lnav li a.active {
  background:#bbb;
}

.login_wrap {
  width:420px;
}

span.label {
  display:block;
}

fieldset {
  border:1px solid #ddd;
  padding:5px 20px 15px;
}

.input {
  border:1px solid #ccc;
  font-size:16px;
  padding:5px;
  -moz-box-shadow: -2px 2px 4px rgba(0,0,0,0.1) inset;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.1) inset inset;
  -o-box-shadow: 2px 2px 4px rgba(0,0,0,0.1) inset inset;
  box-shadow: -2px 2px 4px rgba(0,0,0,0.1) inset;
}

input.error {
  border:1px solid firebrick;
}

.submit {
  font-size:12px;
  font-weight:700;
  padding:5px 10px;
  color:#fff;
  border:0;
  text-shadow:0 -1px 1px rgba(0,0,0,0.3);
}

.submit:active {
  background-color: #1d64a0;
}

.bluegrad {
  background-color: #3289d3;
  background-image: -moz-linear-gradient(top, #3289d3, #1a6db4); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #3289d3, #1a6db4); /* IE10 */
  background-image: -o-linear-gradient(top, #3289d3, #1a6db4); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3289d3), to(#1a6db4)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #3289d3, #1a6db4); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #3289d3, #1a6db4);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3289d3', EndColorStr='#1a6db4'); /* IE6–IE9 */
}

p.log_info {
  font-size:12px;
}

p.msg {
  font-size:11px;
  font-weight:700;
  padding:10px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.3);
}

p#failed,
p#incomplete {
  background:firebrick;
  color:#fff;
}

.r5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.tree,
.table {
  border-top: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size:12px;
  margin: 0;
  margin-bottom: 1em;
  width:100%;
}

.tree th,
.table th {
  font-weight: normal;
  background-color: #EAEAEA;
  color: #999;
  padding: .5em .3em;
  border-bottom: 1px solid #D8D8D8;
}

.tree td,
.table td {
  padding: .5em .7em;
  color: #484848;
  border-bottom: 1px solid #E1E1E1;
  text-align:center;
}

footer {
  margin-top:2em;
  font-size:12px;
}

footer p {
  margin:0;
  padding:0;
  line-height:1.4em;
}

/**** MODAL ****/
.modal {
  visibility: hidden;
  top: 100px!important;
  left: 50%;
  margin-left:-260px;
  position: fixed;
  z-index: 1002;
  width: 520px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  background:#fff;
  min-height:200px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1003;
  display: inline-block;
}

.modal-bg {
  background: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position:absolute;
  z-index:1001;
  top:0;
  left:0;
}

#modal_content {
  padding:20px;
}

#modal_content h2 {
  font-weight:200;
}

#modal_content h2 strong {
  font-weight:700;
}

.table {
  margin-top:10px;
}

.table td.label {
  width:100px;
}
.table td {
  text-align:left;
}