body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*color: #4b4b4b;*/
}

h1, h2, h3 { line-height:1.2em; }
p { line-height:1.2em; padding:0.5em 0; }

.fr { float: right; }
.oh { overflow: hidden; }
.cl {clear: both; }

#content_wrapper {
  padding-top: 1.4em;
  min-height: 300px;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.login_wrap {
  width:420px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 3px 3px 5px #333;
  -webkit-box-shadow: 3px 3px 5px #333;
  -moz-box-shadow: 3px 3px 5px #333;
  -o-box-shadow: 3px 3px 5px #333;
  border:1px solid #ddd;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  padding:5px 20px 15px;
  margin-top: -50px;
  text-align:center;
}

.input {
  border:1px solid #ccc;
  font-size:18px;
  padding:10px;
  width: 90%;
  -moz-box-shadow: -2px 2px 4px rgba(0,0,0,0.1) inset;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.1) inset inset;
  -o-box-shadow: 2px 2px 4px rgba(0,0,0,0.1) inset inset;
  box-shadow: -2px 2px 4px rgba(0,0,0,0.1) inset;
}

input.error {
  border:1px solid firebrick;
}

.submit {
  font-size:18px;
  font-weight:700;
  padding:10px 50px;
  color:#fff;
  border:0;
  text-shadow:0 -1px 1px rgba(0,0,0,0.3);
}

.submit:active {
  background-color: #1d64a0;
}

.bluegrad {
  background-color: #3289d3;
  background-image: -moz-linear-gradient(top, #3289d3, #1a6db4); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #3289d3, #1a6db4); /* IE10 */
  background-image: -o-linear-gradient(top, #3289d3, #1a6db4); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3289d3), to(#1a6db4)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #3289d3, #1a6db4); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #3289d3, #1a6db4);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3289d3', EndColorStr='#1a6db4'); /* IE6–IE9 */
}

.redgrad {
  background:firebrick;
}

p.log_info {
  font-size:12px;
  margin-right: 20px;
  text-align: right;
}

p.msg {
  font-size:11px;
  font-weight:700;
  padding:10px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.3);
}

p#failed,
p#incomplete {
  background:firebrick;
  color:#fff;
}

.hide{display: none;}

.r5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.tree,
.table {
  border-top: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  /*font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;*/
  /*font-size: 14px;*/
  margin: 0;
  margin-bottom: 1em;
  width:99%;
}
.tree {
  width: 100%;
}
.tree th,
.table th {
  font-weight: normal;
  background-color: #EAEAEA;
  color: #999;
  padding: .5em .3em;
  border-bottom: 1px solid #D8D8D8;
}

.tree td,
.table td {
  padding: .5em .7em;
  color: #484848;
  border-bottom: 1px solid #E1E1E1;
  text-align:center;
}

.tree .actions a {
  margin-right: 20px;
}

header {
	padding: 30px 0;
	text-align: center;
	border-bottom: 1px solid #FFF;

  background: #f2f2f2;
  background-image: url('/static/i/rocket-logo-small.png');
  background-position: 30px 15px;
  background-repeat: no-repeat;
  background: url('/static/i/rocket-logo-small.png') no-repeat 30px 15px, 
    -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ddd));
  background: url('/static/i/rocket-logo-small.png') no-repeat 30px 15px, 
    -webkit-linear-gradient(top, #f2f2f2, #ddd);
  background: url('/static/i/rocket-logo-small.png') no-repeat 30px 15px, 
    -moz-linear-gradient(top, #f2f2f2, #ddd);
  background: url('/static/i/rocket-logo-small.png') no-repeat 30px 15px, 
    -ms-linear-gradient(top, #f2f2f2, #ddd);
  background: url('/static/i/rocket-logo-small.png') no-repeat 30px 15px, 
    -o-linear-gradient(top, #f2f2f2, #ddd);
  background: url('/static/i/rocket-logo-small.png') no-repeat 30px 15px, 
    linear-gradient(to bottom, #f2f2f2, #ddd);
}

header h1 {
	font-size: 2.8em;
	text-shadow: 2px 2px 2px #fff;
	color: black;
}

footer {
  margin:2em 0 2em 2em;
  font-size:12px;
}

footer p {
  margin:0;
  padding:0.4em 0 ;
  line-height:1.4em;
}

.main {
  margin-top: 15px;
}

.nav {
  padding: 0 20px;
}

.table {
  margin-top:10px;
}

.table td.label {
  width:100px;
}

.table td.form_label {
  width:150px;
}

.table td {
  text-align:left;
}

.no_u {
  text-decoration:none;
}
.swap > input {
	display:none;
}
.swap > span {
	cursor:pointer;
	text-decoration:underline;
	display:inline-block;
	min-width:120px;
}
#loader {
	min-width:20px;
	min-height:20px;
	padding:4px;
	background:url('../i/loader.gif') no-repeat 50% top;
	position: fixed;
	top:180px;
	left:50%;
	z-index:5;
	display:none;
}
td.label:hover{
	color:#484848;
}
.message-container{
	display:none;
}