body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fr {
	float:right;
}

.fl {
	float:left;
}

.oh {
	overflow:hidden;
}

.cl {
	clear:both;
}

#content_wrapper {
	width:600px;
}

.sidebar {
	width:200px;
}

.content {
	width:390px;
}